.container {
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    border-bottom: 1px solid #aaa;
}

h2, h3, h4, h5, h6 {
    margin-top: 15px;
}

.title {
    font-weight: bold;
}

.period {
    text-align: right;
}
